<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coin</title>
    <link rel="icon" href="../image/images.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/coin.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/env.js"></script>
    <script src="../js/coin.js"></script>
</head>
<body>
    <div class="row header mb-5">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid mx-3">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item" onclick="home()">
                            <span class="nav-link active fs-4" aria-current="page" >Home</span>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link fs-4" href="./leaderBoard">Ranking</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link fs-4" href="./USA">S&P 500</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-4" href="./coin">Coin</a>
                        </li>
                    </ul>
                    <a class="navbar-brand mx-auto" href="#">
                        <h1 class="title">Simulate Stock</h1>
                        <h5>Những tỷ phú trên phố Walk Nguyễn Huệ</h5>
                    </a>
                    <a class="nav-link fs-4 text-decoration-none text-white" href="./leaderBoard">Ranking</a>
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle fs-4 text-decoration-none text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <script>getNameOfUser()</script>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark fs-6" aria-labelledby="navbarDropdown">
                            <li><span class="dropdown-item" onclick="changeName()">Change Name</span></li>
                            <li><span class="dropdown-item" onclick="changePassword()">Change Password</span></li>
                            <li id="admin"></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><span class="dropdown-item" onclick="logout()">Logout</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="alert alert-warning" role="alert">
            <div class="d-flex align-items-center fw-bold fs-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                
                Lưu ý:
            </div>
            <ul class="m-0">
                <li>Có thể tham khảo ở các sàn chứng khoán thực tế về biểu đồ tăng giảm</li>
                <li>Chỉ chơi cho vui không phải tiền thật.</li>
                <li>Tiền tính bằng biden!!</li>
                <li><b>Mua khối lượng tối thiểu là 0.001</b></li>              
            </ul>
            
        </div>
        <div class="row">
            <div class="col-4">
                <!-- <h3 class="sub1">Information</h3> -->
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header"><h3 class="sub1">Information</h3></div>
                    <div class="card-body" id="information"></div>
                </div>
                <div id="user-information">
                    <script>getUser()</script>
                </div>
                <!-- <h3 class="sub2">Ranking</h3>
                <div id="ranking"></div>
                <script>getRank()</script> -->
            </div>
            <div class="col main">
                <form class="d-flex w-50 mb-3 float-end" onSubmit="return false;" id="form-search">
                    <input class="form-control" type="search" placeholder="Search for stock..." aria-label="Search" onkeyup="searchStock()" id="search">
                    <!-- <button class="btn btn-outline-light" type="button" onkeyup="searchStock()">Search</button> -->
                    <img src="../image/search.png" id="input-img">
                </form>
                <table id="exchange" class="w-100">
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Change 1h</th>
                        <th>Change 24h</th>
                        <th>Weight</th>
                        <th>Total</th>
                        <th>Purchase</th>
                    </tr>
                </table>
                <script>showStock()</script>
            </div>
            <!-- <div class="col-2">
                <div id="button">
                    <button class="btn btn-warning buttonUser" onclick="logout()">Logout</button>
                    <button class="btn btn-warning buttonUser" onclick="changeName()">Change Name</button>
                    <button class="btn btn-warning buttonUser" onclick="changePassword()">Change Password</button>
                </div>
                <div id="admin"></div>
                <div>
                    <p>Lưu ý: </p>
                    <p>Có thể tham khảo ở các sàn chứng khoán thực tế về biểu đồ tăng giảm</p>
                    <p>Chỉ chơi cho vui không phải tiền thật.</p>
                    <p>Add thêm tiền liên hệ: Pha san roi` a`</p>
                </div>
            </div> -->
        </div>

    </div>
</body>
</html>