body {
    background-color: #2e2e2e;
    color: ghostwhite;
}

.title {
    color: darkorange;
    text-align: center;
    margin: 10px;
    font-size: 45px;
}

#user-information p{
    margin: auto;
    margin-bottom: 10px;
}

/* .header {
    margin-bottom: 20px;
    background-color: black;
} */
span {
    cursor: pointer;
}

table, th, td {
    border: 1px solid whitesmoke;
    padding: 10px;
    background-color: black;
}

.sub1, .sub2 {
    color: goldenrod;
}

.sub2 {
    margin-top: 30px;
}

.orange {
    color: orange;
}

.green {
    color: greenyellow;
}

.red {
    color: red;
}

.cyan {
    color: cyan;
}

.magenta {
    color: magenta;
}

table input {
    width: 50px;
}

table button {
    width: 75px;
}

table th, table td {
    text-align: center;
}

.buttonUser {
    width: 170px;
    margin-bottom: 20px;
}

h5 {
    text-align: center;
    margin-bottom: 30px;
}

#tableinfo {
    margin-bottom: 20px;
}

.sellButton, .totalButton {
    margin-top: 10px;
    margin-left: 10px;
    width: 120px;
    margin-bottom: 20px;
}

.total {
    width: 130px;
}

#exchange input {
    width: 50px;
}

.container {
    max-width: 1400px;
}

.highlight {
    animation-name: changebackground;
    animation-duration: 2s;
}

@keyframes changebackground {
    from {background-color: black;}
    to {background-color: gold;}
}

#VN-Index {
    font-size: large;
}

#form-search {
    position: relative;
}

#search {
    padding-left: 35px;
}

#input-img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 25%;
    left: 2%;
}

input::placeholder {
    color: rgb(221, 221, 221);
    opacity: 1;
    font-size: 14px;
}